section.birthdayperson {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

section.birthdayperson img {
    width: 80%;
    border-radius: 25px;
}

.felicitation div {
    width: 80%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgb(153, 153, 153);
}

button {
    background: none !important;
    border: none !important;
}
.felicitation img{
    height: auto;
    width: 60% !important;
}
.felicitation .textarea {
    background: none !important;
    border-radius: 0 !important;
    border: none !important;
    color: #fff;
    width: 80%;
    text-align: start !important;
    padding-top: .3em;
}

.felicitation .buttons{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-top: 0;
    gap: 0.5em;
    border-bottom: 0;
    padding: 0.2em 0;
}

.textarea:focus { 
    border: none !important;
    outline: none !important;
}
.textarea[contenteditable]:empty::before {
    content: "Feliciteer de jarige!";
    color: gray;
}
header{
    position: fixed;
    background: linear-gradient(to bottom right, #ffbd1f,  #ffe45b);
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

header a img{
    border-radius: 100%;
    transform: scale(0.65);
    border: solid 2px black;
    box-sizing: border-box;
}
header a.addfriend img{
    transform: scale(0.6);
    border: none;
}